.menuItem {
    color: black;
}


.menu {
    width: 25px;
    height: 25px;
    padding-left: 20px;
    padding-right: 20px;
}


.menus {
    display: flex;
    flex-direction: row;
}


.dropdownItem {
    display: flex;
}